<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}</title>

	<!-- note the special href for files in the Flask "static" folder -->
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	 -->
	<a href="/login">login</a>
	<a href="/logout">logout</a>
	<a href="/create_game">create game</a>
	<a href="/join_game">join game</a>
</head>
<body>

<div id="container">

  <!-- Jinja directives: page contents will go between them -->
  {% block content %}
  {% endblock %}

</div>

</body>
</html>